@import "../../modules/styles";

.planets-page {
    position: relative;
    min-height: calc(100vh - (40px + 2rem));
    overflow-x: hidden;
}

.planets-card {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 0 2rem;
    color: $white-color;

    nav {
        width: 180px;
        min-height: 40px;
        padding: 0 0.5rem;
        position: absolute;
        border-radius: 15px;
    }
}

.planets-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        text-transform: capitalize;
    }
}

.planets-menu-icon {
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s ease-out;
}

.rotate-icon {
    transform: rotate(180deg);
}

.planets-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 0px;
    transition: height 0.4s ease-out;
    overflow-y: hidden;

    a {
        text-transform: capitalize;
        color: $white-color;
        text-decoration: none;
        transition: letter-spacing 0.2s ease-out;

        &:hover {
            letter-spacing: 0.15rem;
        }
    }
}

.open-menu {
    height: 400px;
}

.planets-body {
    padding: calc(2rem + 40px) 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    background-color: rgba(28, 28, 28, 0.15);

    p {
        overflow-wrap: break-word;
        margin-bottom: 2rem;
    }

    & :last-child {
        margin-bottom: 0;
    }

    .planet-characteristics {
        font-weight: 600;
        margin-bottom: 1rem;
    }
}


.planets-img {
    position: absolute;
    right: 10%;
    bottom: 15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }

    .planet-ring {
        position: absolute;
        height: auto;
    }
}

.mercury {
    .planets-img {
        height: 15vw;
    }
}

.venus {
    .planets-img {
        height: 20vw;
    }
}

.earth {
    .planets-img {
        height: 20vw;
    }
}

.mars {
    .planets-img {
        height: 15vw;
    }
}

.jupiter {
    .planets-img {
        height: 35vw;
    }
}


// * For both planets with rings the ring is 1.6 times bigger than the planet
.saturn {
    .planets-img {
        height: 30vw;
    }

    .planet-ring {
        width: 48vw;
    }
}

.uranus {
    .planets-img {
        height: 25vw;
    }

    // *Because uranus is rotate instead of the width i use the height
    .planet-ring {
        height: 40vw;
    }
}

.neptune {
    .planets-img {
        height: 25vw;
    }
}

/* // portrait tablets */
@media screen and (max-width: 768px) {
    .planets-page {
        display: flex;
        flex-direction: column-reverse;
    }

    .planets-img {
        position: static;
        margin: 1rem 0 3rem;
    }

    .uranus {
        .planets-img {
            margin-top: 3rem;
        }
    }

    .planets-card {
        height: auto;
        padding: 1rem 0;
        margin-bottom: auto;
    }

    .open-menu {
        height: 300px;
    }

    .planets-menu-icon {
        font-size: 20px;
    }
}