$white-color: #FCFEFE;
$principal-color: #588080;
$size1: 1em;
$size2: 1.5em;
$size3: 2em;
$size4: 2.5em;
$size5: 3em;
$positionPlanet1: -0.5em;
$positionPlanet2: -0.75em;
$positionPlanet3: -1em;
$positionPlanet4: -1.25em;
$positionPlanet5: -1.5em;