@import "../../modules/styles";

.home {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.solar-system {
    width: 84vw;
    height: 35vw;
    max-height: 35vw;
    position: relative;
    font-size: 1.5vw;
}

.sun {
    width: $size5 * 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.orbits {
    width: 84vw;
    height: 35vw;
}

.planet {
    border-radius: 50%;
    will-change: transform;

    img {
        pointer-events: none;
        width: 100%;
        height: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 0px 0.1em $white-color;
    }

    .saturn-ring {
        position: absolute;
        width: 4em;
    }

    .uranus-ring {
        position: absolute;
        height: 3.3em;
    }
}

// planets 1 and 4 have the same size, same for 2 and 3, 7 and 9
// planets 1, 3, 5 and 6 have the z-index value inverted with the one from layer
// this is because the svg path is inverted

.planet1 {
    width: $size1;
    height: $size1;
    position: absolute;
    left: $positionPlanet1;
    top: $positionPlanet1;
    z-index: 10;
}

.planet2 {
    width: $size2;
    height: $size2;

    position: absolute;
    top: $positionPlanet2;
    left: $positionPlanet2;
    // z-index: 2;
    z-index: 7;
}

.planet3 {
    width: $size2;
    height: $size2;

    position: absolute;
    top: $positionPlanet2;
    left: $positionPlanet2;
    z-index: 12;
}

.planet4 {
    width: $size1;
    height: $size1;

    position: absolute;
    top: $positionPlanet1;
    left: $positionPlanet1;
    z-index: 5;
}

.planet5 {
    width: $size5;
    height: $size5;

    position: absolute;
    top: $positionPlanet5;
    left: $positionPlanet5;
    z-index: 14;
}

.planet6 {
    width: $size4;
    height: $size4;

    position: absolute;
    top: $positionPlanet4;
    left: $positionPlanet4;
    z-index: 15;

    display: flex;
    justify-content: center;
    align-items: center;
}

.planet7 {
    width: $size3;
    height: $size3;

    position: absolute;
    top: $positionPlanet3;
    left: $positionPlanet3;
    z-index: 2;
    // z-index: 7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.planet8 {
    width: $size3;
    height: $size3;

    position: absolute;
    top: $positionPlanet3;
    left: $positionPlanet3;
    // z-index: 8;
    z-index: 1;
}

.layer1 {
    // z-index: 1;
    z-index: 8;
}

.layer2 {
    z-index: 11;
}

.layer3 {
    // z-index: 3;
    z-index: 6;
}

.layer4 {
    z-index: 13;
}

.layer5 {
    // z-index: 5;
    z-index: 4;
}

.layer6 {
    // z-index: 6;
    z-index: 3;
}

.layer7 {
    z-index: 16;
}

.layer8 {
    z-index: 17;
}